@charset "utf-8";
/* CSS Document */

body {
	background-color: #D3D3D3;
}

#container {
	width: 960px;
	margin: 0 auto;	
	background-color: white;
}

header {
	height:150px;
	background-color: blue;	
}

article {
	float: left;
	width: 640px;	
}

aside {
	float: right;
	width: 240px;
}

footer {
	clear: both;
	background-color: #030826;
	color: white;	
}