@charset "utf-8";
/* CSS Document */

#lidhjet li {
	position: relative;
	display: inline-block;	
	padding: 4px;
	border: 2px solid blue;
	background-color: #C0BBBB;
	margin: 6px;
	border-radius: 10px;
	width: 100px;
	text-align: center;
	box-shadow: 5px 5px 6px #9F9F9F;
}

#lidhjet li a {
	text-decoration: none;
	color: #072501;
	text-transform: uppercase;	
}

#lidhjet li:hover {
	background-color: #888888;
}


ul li ul {
	display: none;	
}


ul li:hover ul {
	display: block;	
	position: absolute;
}



#lidhjet {
	background-color: yellow;	
}

#lidhjet2 {
	background-color: red;	
}