@charset "utf-8";
/* CSS Document */
body {
	margin: 0;	
}
#container {
	position: relative;
	width: 800px;
	margin: 0 auto;	
}
#header {
	position: static;
	background-color: yellow;

	overflow: auto;
	visibility: visible;
	display: block;	
}

#article {
	position: absolute;
	background-color: red;
	height: 400px;
	top: 20px;
	left:50px;
	right: 0;
	bottom: 0;
	z-index:1;
}

#sidebar {
	position: absolute;
	background-color: blue;
	height: 200px;
	width: 300px;	
	z-index: 10;
}

#nav {
	position:fixed;
	background-color: green;
	width: 800px;
	height: 50px;	
	z-index: 50;
}