@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	background-color: #A2A2A2;	
}

#container {
	width: 960px;
	margin: 0 auto;	
	background-color: white;
}

header {
	background-image: url(images/template_01.jpg);
	height: 119px;
}

nav {
	background-color: #4D4D4D;
	height: 56px;	
	background-image: url(images/background2.png);
}

nav img {
	margin-top:6px;	
	margin-left: 16px;
}

nav img#epara {
	margin-left: 24px;	
}


article {
	float: left;
	width: 600px;	
}
aside {
	background-color: #069db3;	
	background-image: url(images/background.png);
	width: 360px;
	float: right;
}
footer {
	clear: both;
	background-color: #132667;
	color: white;
	text-align: center;	
}
