@charset "utf-8";
/* CSS Document */

body {
	background-color: #ACACAC;	
	margin: 0;
}

#container {
	width: 80%;
	background-color: white;
	margin: 0 auto;
	padding: 12px;
}

#formulari1 {
	
}

.titujt {
	width: 40%;
	float: left;
	text-align:right;
}

.fushat {
	width: 60%;
	float: right;
}

input[type='text'] {
	width: 100%;	
}

.clear {
	clear: both;	
}

@media (min-width: 200px) and (max-width: 460px) {
.titujt {
	width: 100%;
}

.fushat {
	width: 100%;
}	
}

@media (max-width: 300px) {
#foto {
	display: none;	
}
}