@charset "utf-8";
/* CSS Document */

table {
	border: 4px solid black;
		
	border-collapse: separate;
	/* border-collapse: collapse; */
	border-spacing: 10px;
	background-color: green;
}

tr {
	height: 124px;	
	background-color: red;
}

th {
	background-color: yellow;	
}

th, td {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #808080;
	padding: 8px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #073D0D;
}

td {
	background-color: blue;	
	color: white;
}