@charset "utf-8";
/* CSS Document */

p {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.theksuar {
	color: red;
	font-size: 24px;
	font-weight: bold;	
}

.wd {
	color: #194993;	
}