@charset "utf-8";
/* CSS Document */

body {
	background-color: #D8D8D8;	
	margin: 0;
	padding: 0;
}

p {
	margin: 0;	
}
#container {
	background-color: #FFF;
	width: 800px;
	margin: 0 auto;
}

#header {
	background-color: #DDC560;
	height: 100px;
}

#article {
	background-color: red;
	width: 484px;
	float: left;
	padding: 8px;
}

#sidebar {
	background-color: green;
	width: 286px;
	float: right;
	margin-left: 10px;
	border: 2px solid red;
}

#footer {
	background-color: blue;
	clear: both;
	padding: 8px;
}
