@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
box-sizing: border-box;
}

body {
	background-image: url(images/prapavija.gif);
	margin-top: 0;
	margin-bottom: 0;	
	
}
#koka {
	height: 333px;
	background-image: url(images/header.jpg);	
	
}

#koka h1 {
	color: white;
	text-align: center;	
}

#navigacioni ul li {
		display: inline-block;
		width: 80px;
		background-color: #020721;
		color: white;
		text-align:center;
		padding: 4px;
		margin: 10px;
		border: 1px solid #BB7D19;
		border-radius: 10px;
	
}

#navigacioni a {
	text-decoration: none;
	color:white;	
}

#lajmi {
	padding: 8px;	
}

img {
	width: 100%;
	height: auto;	
}

#lidhjet {
	background-color: #CCCC98;
	padding: 10px;
}	

#info p {
	text-align: center;
	padding: 10px;
	background-color: #060221;
	color: white;	
}

#kryesori {
	background-color: white;	
	box-shadow: 10px 10px 15px #5C5C5C
}